.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  overflow: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
  }
}


.content {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 30px 50px;
  border-radius: 5px;
  background: #EAEADF;
  width: 50%;
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #43434a;
    margin: 0;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
  }
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    a {
      margin-right: 30px;
      font-size: 30px;
      color: #8E8E8C;
      em {

      }
    }
  }
}

body {
  &.t1 {
    .bg {
      background: url(../images/2.jpg) no-repeat right bottom;
      background-size: cover;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.3);
      }
      img {
        display: none;
      }
    }
    .content {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0;
      color: #fff;
      h1 {
        color: #fff;
      }
      p {
        color: #ddd;
      }
    }

    .social-icons {
      li a {
        color: #ddd;
      }
    }
  }
}

@media (max-width: 992px) {
  .content {
    position: absolute;
    left: 30px;
    right: 30px;
    width: auto;
  }
}
